<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>File Manager</title>
    <!-- MDB -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/admin.css" />

</head>

<body>
<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="https://h2-invent.com/media/h2-invent_grau.png" height="25" alt="" loading="lazy" />
            </a>

            <a href="{{ url('idci_keycloak_security_auth_logout') }}">Logout</a>

        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<section style="margin-top: 58px">
    <div class="container pt-4">
        {% block content %}{% endblock %}
    </div>
</section>
<!--Main layout-->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
{% block script %}{% endblock %}
</body>

</html>